 body {

  font-family: Arial, sans-serif;
  color: #333;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

@media (min-width: 700px) {
  header {
    padding: 10em;
  }
}

main {
  padding: 1em;
}

@media (min-width: 700px) {
  main {
    padding: 20em;
  }
}

h1 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: .75em;
  font-family: 'Pacifico', cursive;
  letter-spacing: 1px;
  font-weight: bold;
}


h2 {
  font-size: .05em;
  margin-bottom: 1em;
}


.fade-in-master {
  opacity: 0;
  animation: fadeIn 0.75s ease-in forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.25s ease-in forwards;
}

.fade-in-home-master {
  opacity: 0;
  animation: fadeIn 5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site-content {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: #FFFFFF;
box-sizing: border-box;
}

@media (max-width: 500px) {
.site-content {
width: 50%;
}
}

li {
  margin-top: 1em;
}






/* Navigation Bar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
  margin-bottom: 0.5em;
  position: relative;
  }
  
  nav a {
  display: flex;
  padding: .25em;
  padding-left: 1em;
  padding-right: 1em;
  color: #333;
  text-decoration: none;
  align-items: center;
  }
  
  nav a:hover {
  color: #ffffff;
  background-color: #333;
  }

  .social-icons-desktop {
    white-space: .5em;
  }
  
.social-icons-mobile {
  white-space: nowrap;
  margin-bottom: .5em;
}

  .social-icons-mobile a {
    padding-left: .25em;
    padding-right: .25em;
  }
  
  @media (min-width: 1400px) {
      .social-icons-mobile {
      display: none;

    }
  }

  @media (max-width: 1400px) {
    .social-icons-mobile {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1400px) {
    .social-icons-desktop {
    display: none;

  }
}

@media (min-width: 1400px) {
  .social-icons-desktop {
    display: flex;
    justify-content: center;
  }
}

    .me-auto {
      white-space: nowrap;
    }
  
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navbar-brand {
      font-family: 'Great Vibes', cursive;
      font-weight: bold;
      letter-spacing: 2px;
    }
    








/* Cancellation Policy Page */

.cancellation-policy {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  padding-left: 2em;
}

.cancellation-policy-p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  padding-left: 2em;
}





/* Contact Page */

.contact-page {
 background-color: #f2f2f2f5;
}

.contact-info-container {
  display: flex;
}

.contact-info-left {
  width: 50%;
  
}

.address-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
}

.contact-info-right {
  width: 50%;
  text-align: right;
}

.contact-info {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  margin: 0.20em 0;
}

.contact-info-phone {
  position: relative;
  justify-content: center;
  text-align: center;
  /* padding-top: 1em; */
  padding-bottom: .5em;
}

.contact-info-email {
  position: relative;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .5em;
}

.email-link {
  padding: .5em;
}

.phone-icon {
  padding-bottom: .5em;
  padding-top: 3em;
}

.contact-info-address {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding-bottom: 1em;
  margin: 0.20em 0;
}

.contact-info-business-hours {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding-top: 1em;
  font-weight: bold;
  margin: 0.20em 0;
  margin-top: 4em;
}

.business-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin: 0.20em 0;
  background-color: #f2f2f2f5;
  padding-top: 1em;
  padding-bottom: 2em;
}

.business-hours td,
.business-hours th {
  border: .5em solid #ddd;
  padding: 1em;
  text-align: left;
}

.business-hours th {
  text-align: left;
  background-color: #f2f2f2;
}

.address-container {
  display: flex;
  align-items: center;
}

.address-container FontAwesomeIcon {
  margin-right: 0.5em;
}

.right-address {
  display: flex;
  align-items: center;
  text-align: center;
}

.address-icon {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 1em;
  padding-bottom: .5em;
}

.current-day td {
  background-color: #333;
  color: white;
  }

.map-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1em;
  overflow: hidden;
}

.contact-info-footer {
  position: relative;
  justify-content: center;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 2em;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
}

@media only screen and (max-width: 767px) {
  .contact-info-container {
    flex-direction: column;
  }
  
  .contact-info-left {
    width: 100%;
  }

  .contact-info-right {
    width: 100%;
    text-align: left;
  }
}

.social-icons-contact-page {
  justify-content: center;
  text-align: center;
  padding-top: 2em;
  /* padding-bottom: .5em; */
}

.social-icons-contact-page a:not(:last-child) {
  margin-right: 2em;
}












/* Home Page */

.home-master {
  margin-top: 3em;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.swiper {
  background-color: #635d5d52;
  position: relative;
  height: auto;
  width: auto;
  max-width: 95%;
  padding-bottom: 1em;
  padding-top: .5em;
  border-radius: .25em;
}

.swiper-slide { 
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding-top: 1em;
  padding-bottom: .5em;
  border-radius: 1em;
  overflow: hidden;
}

.swiper-slide img {
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.main-overlay-text {
  background-color: #282c34c5;
  font-size: 2vh;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: .75em;
}

.main-overlay-text-2 {
  background-color: #282c34c5;
  font-size: 1.5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: .75em;
}

.main-overlay-text-static {
  background-color: #282c34c5;
  font-size: 1.5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: .75em;
}

@media only screen and (max-width: 767px) {
  .text-overlay {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 10%;
    transform: translateY(50%);
    color: rgb(255, 255, 255);
  }
}

.swiper-pagination-bullet-active {
  background-color: white;
  }
  
  .swiper-button-next,
  .swiper-button-prev { 
  color: #333;
  }

  .static-images {
    background-color: #635d5d52;
    border-radius: .25em;
    margin-top: 1em;
    max-width: 95%;
  }

  .static-images a {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 1em;  
  }
  
  .static-images img {
    display: inline-block;

    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    border-radius: 1em;
    border-color:rgb(255, 255, 255);
  }

  @media only screen and (max-width: 1400px) {
    .static-images a {
      width: 50%;
    }
  }

  .static-images img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: white;
    }

  .slide-content-one {
    position: relative;
  }

  .text-overlay {
    position: absolute;
    right: 0;
  }
  
  .image-container {
    position: relative;
    height: 100%;

  }

  .image-container-static {
    position: relative;
    height: 100%;
  }
  
  .text-overlay {
    position: absolute;
    right: 0;
    top: 55%;
    color: white;
    padding: 0;
  }

  .text-overlay-static {
    position: absolute;
    right: 0;
    top: 50%;
    color: white;
  }
  






/* Store Page */

.store-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.store-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  color: white;
  padding: 1em;
  border-radius: 1em;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.store-button-text {
  margin-bottom: 0.5em;
}

.store-button-click {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (max-width: 767px) {
  .store-button {
      padding: 0.5em;
  }
}

.store-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: white;
  }





  /* Portfolio */

  .portfolio-menu-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2f5;
    padding-bottom: 1em;
  }
  
  .portfolio-menu-item {
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #333;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
  }

  .portfolio-menu-item:hover {
        color: #ffffff;
    background-color: #333;
  }

@media (max-width: 768px) {
  .portfolio-menu-item {
    display: flex;
    max-width: 25%;
    justify-content: center;
    padding-right: .65em;
    padding-left: .65em;
    font-weight: bold;
    font-size: .75em;
  }
  .portfolio-menu-list {
    padding-right: 1em;
    padding-left: .5em;
  }
}

.selected-category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.selected-category {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: .5em;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: .1em;
  background-color: #333333d2;
  Color:#f2f2f2f5;
  padding: .75em;
  font-family: 'Pacifico';
  width: 95%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

  .insta-feed {
    margin: 0 auto;
    margin-top: 2em;
  }
 .portfolio-feed-container {
    padding-top: 3em;
    height: auto;
    width: 100%;
    overflow: hidden;
  }





/* Services Page */

table {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: lightgray;
}

.services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-top: 1em;
}

.services-table {
  color: #333;
  background-color: #f2f2f2f5;
  padding-bottom: 3em;
}





/* Booking Page */

.booking-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  color: #333;
  background-color: #f2f2f2f5;
  padding-bottom: 3em;
  line-height: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3em;
}

.link-text p{
  color: #333;
  padding: .5em;
  text-decoration: underline;
}

.cancel-policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  line-height: .5em;
  font-weight: bold;
}

.cancel-policy-text:hover {
  background: #333;
  color: #f2f2f2f5;
}

.book-online-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  line-height: 2em;
  font-weight: bold;
  text-decoration: underline;
}

.book-online-link p {
  padding: .5em;
  font-size: 2em;
}

.book-online-text:hover {
  background: #333;
  color: #f2f2f2f5;
}

