 body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  color: #333;
  flex-direction: column;
  align-items: center;
  margin: 0;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

@media (min-width: 700px) {
  header {
    padding: 10em;
  }
}

main {
  padding: 1em;
}

@media (min-width: 700px) {
  main {
    padding: 20em;
  }
}

h1 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: .75em;
}

h2 {
  font-size: .05em;
  margin-bottom: 1em;
}



footer {
  background-color: #6c5b7b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}


footer p {
  margin: 0;
  font-size: 1em;
}

.fade-in-master {
  opacity: 0;
  animation: fadeIn 0.75s ease-in forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.25s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.site-content {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: #FFFFFF;
box-sizing: border-box;
}

@media (max-width: 500px) {
.site-content {
width: 50%;
}
}

li {
  margin-top: 1em;
}








nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
  margin-bottom: 0.5em;
  position: relative;
  }
  
  nav a {
  display: flex;
  padding: .25em;
  padding-left: 1em;
  padding-right: 1em;
  color: #333;
  text-decoration: none;
  align-items: center;
  }
  
  nav a:hover {
  color: #ffffff;
  background-color: #333;
  }
  
.social-icons-mobile {
  white-space: nowrap;
  margin-bottom: .5em;
}

  .social-icons-desktop a {
  display: inline-block;
  white-space: nowrap;
  }

  .social-icons-mobile a {
    padding-left: .25em;
    padding-right: .25em;
  }
  
  @media (min-width: 1400px) {
      .social-icons-mobile {
      display: none;

    }
  }

  @media (max-width: 1400px) {
    .social-icons-mobile {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1400px) {
    .social-icons-desktop {
    display: none;

  }
}

@media (min-width: 1400px) {
  .social-icons-desktop {
    display: flex;
    justify-content: center;
  }
}

    .me-auto {
      white-space: nowrap;
    }
  
  

                                










.cancellation-policy {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  padding-left: 2em;
}

.cancellation-policy-p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  padding-left: 2em;
}








.contact-page {
 background-color: #f2f2f2f5;
}

.contact-info-container {
  display: flex;
}

.contact-info-left {
  width: 50%;
  display: relative;
  
}

.contact-info-right {
  width: 50%;
  text-align: right;
}

.contact-info {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  margin: 0.20em 0;
}

.contact-info1 {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2f5;
  padding: 1em;
  margin: 0.20em 0;
}

.business-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-collapse: collapse;
  margin: 0.20em 0;
  background-color: #f2f2f2f5;
  padding-top: 1em;
  padding-bottom: 1em;
}

.business-hours td,
.business-hours th {
  border: .5em solid #ddd;
  padding: 1em;
  text-align: left;
}

.business-hours th {
  text-align: left;
  background-color: #f2f2f2;
}

.address-container {
  display: flex;
  align-items: center;
}

.address-container FontAwesomeIcon {
  margin-right: 0.5em;
}

.right-address {
  display: flex;
  align-items: center;
  text-align: center;
}

.left-address {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.current-day td {
  background-color: #333;
  color: white;
  }













.home-page {
  display: flex;
  margin-top: 3em;
}

.swiper {
  background-color: #635d5d52;
  position: relative;
  height: auto;
  width: auto;
  padding-bottom: 1em;
  padding-top: .5em;
  border-radius: .25em;
}

.swiper-slide { 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1em;
  padding-bottom: .5em;
  border-radius: 1em;
}

.home-page .swiper-slide img {
  width: 40%;
  height: auto;
  border-radius: .2576em;
}

.text-overlay {
  position: absolute;
  height: auto;
  width: auto;
  top: 60%;
  right: 30%;
  transform: translateY(-30%);
  color: rgb(255, 255, 255);
}

.main-overlay-text {
  background-color: #282c34c5;
  font-size: 2vh;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: .75em;
}

.main-overlay-text-2 {
  background-color: #282c34c5;
  font-size: 1.5vh;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: .75em;
}

@media only screen and (max-width: 767px) {
  .text-overlay {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 10%;
    transform: translateY(50%);
    color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width: 767px) {
  .main-overlay-text-2 {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: white;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
  color: #333;
  }












.store-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.store-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  color: white;
  padding: 1em;
  border-radius: 1em;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.store-button-text {
  margin-bottom: 0.5em;
}

.store-button-click {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}

@media only screen and (max-width: 767px) {
  .store-button {
      padding: 0.5em;
  }
}

.store-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  color: white;
  }
